body {
  margin: 0;
}

.container {
  background-color: #333;
  padding:  1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1 rem;
  background-color: wheat;
  border: 1px solid black;
  cursor: move;
}

.dragging {
  padding: 1 rem;
  background-color: rgb(179, 235, 245);
  border: 1px solid black;
  cursor: move;

}